/Slit-Server/nbproject/
/Slit-Server/Slit-Server-ejb/nbproject/
/Slit-Interfaces/nbproject/
/Slit-Application/nbproject/
/Slit-Server/Slit-Server-ejb/build/
/Slit-Interfaces/dist/
/Slit-Server/build/
/Slit-Interfaces/build/
/Slit-Application/build/
/Slit-Application/dist/
/Slit-Server/Slit-Server-ejb/dist/
/Slit-Server/dist/
/SceneBuilderTest/nbproject/
/ScenebuilderTest1/nbproject/
/EjbTest/nbproject/private/
/EjbTest/EjbTest-ejb/nbproject/
/EjbTest/EjbTest-lib/nbproject/
/EjbTest/EjbTestRemote/nbproject/
/EjbTest/TestApplication/nbproject/
/EjbTest/JavaFXApplication5/nbproject/
/Slit-Server/Slit-ejb/nbproject/
/Slit-Server/Slit-ejb/build/
/Slit-Server/Slit-ejb/dist/